---
layout: index
title: Edwin.chang | 张要辉
---


{% for post in site.posts %}

    <div class="post well">

        <blockquote>
          <h3><a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }}</a></h3>
          <footer><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date | date: '%Y-%m-%d' }}</footer>
        </blockquote>

        <div class="post-preview">
            {{ post.excerpt }}
        </div>

        <div class="post-tags">
        {% for tag in post.tags %}
            <!-- <kbd>{{tag}}</kbd> -->
            <span class="label label-default"><a class="click-tags" href="{{tag | prepend:'/tags?tag='}}">{{ tag }}</a></span>
        {% endfor %}
        </div>
    </div>

{% endfor %}