<style type="text/css">
	.footer {
	   padding: 15px 0;
       margin: 40px 0 0 0;
       text-align: center;
       border-top: 1px solid #eee
	}
	.footer .contact-list {
		margin-bottom: 0;
        padding-left: 0;
	}
	.footer .contact-list li {
		display: inline-block;
        line-height: 1;
	}

	.footer .contact-list li a {
		color: #555;
	}

	.footer .contact-list>li+li:before {
        padding: 0 10px;
        color: #ccc;
        content: "|";
    }
    .footer .contact-list li .fa {
    	font-size: 16px;
        margin-right: 3px;
    }
</style>
<footer class="footer">
      <div class="container">
      	<ul class="contact-list">
			<li>
                <a href="mailto:511191969@qq.com" title="email">
                    <i class="fa fa-envelope-o"></i> Email To Me
                </a>
            </li>
            <li>
                <a href="http://weibo.com/2081267207/profile?topnav=1&wvr=6&is_all=1" title="新浪微博" target="_blank">
                    <i class="fa fa-weibo"></i> 新浪微博：@张要辉
                </a>
            </li>
            <li>
                <a href="https://github.com/zhangyaohui1986" title="GitHub" target="_blank">
                    <i class="fa fa-github-square"></i> GitHub
                </a>
            </li>
            <li>
                <i class="fa fa-heart-o" ></i>Powered by Github
            </li>      		
      	</ul>
      </div>
</footer>

</body>
</html>