<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="张要辉">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/img/icon2.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/mustache.js/2.2.1/mustache.min.js"></script>
    <script type="text/javascript" src="/assets/js/tags.js"></script>
    <script type="text/javascript" src="/assets/js/tag_render.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img alt="Brand" width="30" height="30" src="/assets/img/icon1.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="edwin-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li name="home"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <li name="github"><a href="https://github.com/zhangyaohui1986" target="_blank">Github</a></li>
                    <li name="about"><a href="/about">About</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
   