<style type="text/css">
	 .edwin-post-content{
        min-height: 45%;
        font-size: 125%;
        line-height: 1.6;
    }
    .edwin-post-content .post{
	 	background: #d8d2d1
    }
</style> 

 {% include header.html %}

 <div class="container">

    <div class="row">
        <div class="col-md-10">
            <div class="edwin-post-content">
                {{ content }}
            </div>
        </div>

        <div class="col-md-2">
            <!-- this is COL-MD-22222, for some contents -->
        </div>
    </div>

 {% include footer.html %}